@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --cont_padding: 72px;
    }


    .swiper-button-next,
    .swiper-button-prev
    {
        --swiper-navigation-sides-offset: -32px;
    }
}
